@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../img/2008128122526635_2.gif");
	/* 	background-image: url("/img/2008128122526635_2.gif"); */
}

#content {
	position: absolute;
	top: 80px;
	width: 100%;
	height: 86%;
}

#choosepanel {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 40%;
	height: 60%;
	background-color: rgba(1, 1, 1, 0.3);
	/* 	opacity: 0.3; */
	min-height: 300px;
	min-width: 450px;
	/* 	border-radius: 3px; */
}

#contable {
	width: 100%;
	height: 100%;
}

#contable td {
	text-align: center;
}

#contable td span {
	display: inline-block;
	width: 60%;
	height: 40%;
	text-align: center;
	border-color: white;
	border-style: solid;
	border-width: medium;
	color: white;
	border-radius: 5px;
}

#contable td:HOVER {
	background-color: #faaf3f;
}

#contable td span label {
	display: table;
	width: 100%;
	height: 100%;
	line-height: 100%;
}

#contable td span label:HOVER {
	cursor: pointer;
}

#contable td span label strong {
	display: table-cell;
	vertical-align: middle;
	color: white;
	font: medium "Microsoft YaHei", Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

#dataDialog div{
	background-color: white;
	border-radius: 5px;
}